@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(90deg, #eb80f9, #323cfc);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}